body {
    background-color: bisque;
    color: brown;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.recipebody {
    padding: 8px 16px;
    width: 700px;
    margin-left: 12px;
}

.indeximg {
    vertical-align: middle;
    width: 15%;
    height: auto;
    padding: 25px;
}

.indexh1 {
    display: inline;
    vertical-align: middle;
    font-size: 8vw;
    font-weight: bolder;
    text-align: center;
}

.recipeul {
    float: left;
    list-style-type: none;
    background-color: #f3b47d;
    margin: 24px;
    padding: 8px 16px;
    width: 100px;
}

.recipeul li a {
    display: block;
    width: 100px;
    padding: 8px 16px;
    color: antiquewhite;
}

.indexp {
    display:inline-block;
    width: 50%;
    padding: 8px 16px;
    text-align: justify;
}

.recipep {
    display: block;
    padding: 8px 0px;
    text-align: justify;
}